:root {
    --defborder: 1.3em;
    --main-color: #290909;
}

body {
    background-color: #000e06;
}



.cargador {
    display: flex;
    padding: 2em;
    background-color: #000804;
    margin: 1rem;
    border: 3px solid #146d70;
    border-radius: 2em;
    align-content: space-between;
    gap: 1.5rem;
}

h2 {
    color: honeydew;
    max-width: 100%;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 0.1rem;
    font-style: oblique 10deg;
}

.visualizador {
    text-align: center;
    padding-top: 25%;
    border: 3px solid #0a6b01;
    background: #011104;
    border-radius: 1rem;
    width: 50%;
    max-height: 50;
    padding: 1 em;


}

.ses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.menu {
    border: 0.2rem solid #0a6b01;
    padding: 0.75em;
    color: rgb(255, 255, 255);
    background: #703614;
    margin-right: 0.5rem;
    border-radius: 1rem;
    height: auto;
}

.aciones_admin {
    border-radius: var(--defborder);
    border: 3px solid #240181;
    background-color: #0f0136;
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 1rem;
}

.cosa {
    border-radius: var(--defborder);
    border: 3px solid #af1146;
    background-color: #401313;
    width: 100%;
    height: 8rem;
    color: beige;
    font-size: 2rem;
    text-align: center;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.cosa .solis {
    background-color: beige;
    border-radius: 1rem;
    font-size: 3rem;
    color: darkred;
    width: 3rem;
    align-self: center;
}


.nav {
    display: flex;
    background: var(--main-color);
    justify-content: space-between;
    max-height: 3em;
    padding: 1.5rem;
    margin: -1em;
}

#buscador,
#cats {
    border-radius: 1cap;
    background-color: #1f1f1f;
    border: 3px solid #036d0c;
    height: auto;
    margin-right: 0.5rem;
    height: 80%;
}



button {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    background-color: #240181;
    font-size: 90%;
    border: 3px solid #0f0136;
    border-radius: var(--defborder);
    padding: 1.2rem;
    color: #af1146;
    width: 100%;
}

button :hover {
    background-color: #060016
}

p {
    margin-bottom: 0.43em;
    margin-top: 0.2rem;
}

.queso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #240181;
    padding: 1rem;
    border-radius: 1em;
    width: 50%;

}

.queso2 {
    border: 3px solid #240181;
    background: #05011d;
    padding: 1rem;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.web {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    width: 100%;

}

.cargador1 {
    display: flex;

    padding: 2em;
    background-color: #000804;
    margin: 1rem;
    border: 3px solid #146d70;
    border-radius: 2em;

}

.webo1 {
    font-size: 1em;
    padding: 0.4rem;
    border-radius: var(--defborder);
    margin-bottom: 1rem;
    width: 80%;
}

#mem {
    border-radius: 3em;
    border: 2px solid #3c3c3cb7;
    max-width: 10em;
    height: auto;
    aspect-ratio: 1/ 1;
    object-fit: cover;
    border-radius: var(--defborder);
    padding: 0.2rem;



}

.webo {
    align-self: center;
    font-size: 1em;
    padding: 0.4rem;
    border-radius: var(--defborder);
    max-width: 90%;
    margin-bottom: 0.5rem;
}



.imagenes-contenedor {

    display: grid;
    gap: 1em;
    margin: 2em;
    padding: 2em;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    max-width: 100%;
    box-sizing: border-box;
}

h4 {
    justify-self: center;
    font-size: 3em;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.no-ver {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

ul {

    text-align: start;
    margin-left: -1em;
}

li {
    margin-bottom: -0.9em;
    font-size: small;
}

p {
    color: #06665e;

}

.div-solicitudes {
    display: grid;
    border-radius: var(--defborder);
    border: 3px solid #ea8100;
    background-color: #2b0a00;
    gap: 1em;
    margin: 2em;
    padding: 2em;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    max-width: 100%;
    box-sizing: border-box;
}

.solicitud {
    border-radius: var(--defborder);
    border: 3px solid #6200ea;
    background-color: #1c2d0b;
    margin: 1rem;
    padding: 0.5rem;
}

.aceptar {
    background-color: #0b3d00;
    border: 3px solid #0ea04b;
    color: #0ffa78;
    font-weight: 800;
    font-size: large;
    border-radius: var(--defborder);
    padding: 0.5rem;
    width: 100%;
}

.rechazar {
    background-color: #3d0000;
    border: 3px solid #ea0e0e;
    color: #ff7878;
    font-weight: 800;
    font-size: large;
    border-radius: var(--defborder);
    padding: 0.5rem;
    width: 100%;
}


.imagen {

    background: var(--main-color);
    border-radius: var(--defborder);
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
}

.la-imagen {
    border: 2px solid #ff000db7;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--defborder);
    padding: 0.2rem;
    box-sizing: border-box
}


.logo {
    border-radius: 0.3em;
    border: 3px solid #f8f8f8;
    max-width: 100%;
    height: 3rem;
    width: 3rem;
    background: #ffffff36;
    background-image: url(./AKRlogo.ico);
    background-repeat: no-repeat;
    background-size: cover;

}

.noRES {
    width: 100%;
    font-size: 2rem;
    font-weight: 1000;
    text-align: center;

}

.detalles {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    max-height: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 3px solid #240181;
    background-color: #0f0136;
    padding: 0.25rem;
    border-radius: 1rem;
}

.menu:hover {
    border: 3px solid #f8f8f8;
}

.logisimo {
    display: grid;
    place-items: center;
}

h1 {
    margin-left: 2em;
    margin-top: 0.3em;
    color: blanchedalmond;
    white-space: nowrap;


}

h3 {
    align-self: center;
    color: azure;
    font-size: 60%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media (max-width: 740px) {
    .cosa {
        font-size: medium;
        height: 6rem;
    }

    .legumbre{
        padding-left: 2.5rem;

    }
    .nav {
        transition: transform 0.3s ease-in-out;

        position: fixed;
        flex-direction: column;
        justify-content: normal;

        min-height: 100%;
        padding: 0.5em;
        margin-top: -3rem;
        margin-left: -0.4rem;
        gap: 1rem;
        max-width: 4.1rem;

    }

    .navhiden {
        overflow: hidden;
        min-height: 4.2rem;
    }

    h1 {
        display: none;
    }

    .rotado {
        transform: rotate(90deg);
    }

    .logo {
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        border-radius: 0.3em;
        border: 3px solid #f8f8f8;
        min-height: 60px;
        width: 60px;
        background: #ffffff36;
        background-image: url(./AKRlogo.ico);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0.2rem;
    }

    .menu {
        display: flex;
        justify-content: center;
        height: auto;
        margin-top: 0.5rem;
        border-radius: 0.5rem;
        height: 0.1;
    }

    .imagenes-contenedor {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        padding: 1em;
        margin: 3em;

    }

    #buscador,
    #cats {
        max-width: 15%;

    }



    .cargador {

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 2remrem;
        background-color: #000804;
        margin: 2rem;
        border: 3px solid #146d70;
        border-radius: 2em;
        gap: 0.5rem;
        max-height: 40%;

    }

    .visualizador {
        text-align: center;
        border: 3px solid #0a6b01;
        background: #011104;
        border-radius: 1rem;
        width: 100%;
        aspect-ratio: 1 / 1;
        height: auto;
    }

    .queso {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 0%;
        padding-top: 10%;
        border: 3px solid #240181;
        border-radius: 1em;
        width: 100%;
        justify-content: center;

        border: 3px solid #240181;
        border-radius: 1em;
        max-height: 30%;

    }

    .webo {
        align-self: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .queso2 {
        align-items: center;
        flex-direction: column;
        margin: none;
        max-width: 86%;
    }

    .webo1 {
        width: 15em;
    }

    .ses {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 7rem;
        height: 100%;
        padding: none;
        padding-top: none;

    }

}